.marged {
  position: fixed;
  top: 75px;
  right: 80px;
  z-index: 2;
}
.btn {
  width: auto;
  border: 0px;
  border-radius: 15px;
}
.btn:hover {
  border: 2px solid #563d7c;
}
.list-card {
  padding-top: 100px;
}
.programContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-card {
  padding-top: 100px;
}
.msitInfo {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  width: 100%;
  margin-top: -80px;
  background-color: white;
  border: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 4px;
}
@media only screen and (max-width: 768px) {
  .marged {
    left: 40%;
    right: 50%;
    border: 0;
  }
}
.nodata {
  display: flex;
  justify-content: center;
  align-content: center;
}
