.custom-card{
    height: 20rem;
    margin-left: auto;
    margin-top: auto;
}
/* .text-success{
    color: white;
} */
/* .border-success{
    border-color: beige;
} */

.custom-btn{
    width: auto;
}
