@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
:root {
  --blue: #0e0620;
  --white: #fff;
  --green: #2ccf6d;
}
body {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  box-sizing: border-box;
}
.nav-404 {
  display: flex;
  font-family: "Nunito Sans";
  font-size: 1em;
  flex-direction: column;
}
html,
button {
  font-family: "Nunito Sans";
}

.h-404 {
  font-size: 6.5em;
  font-weight: bold;
  top: 1;
  align-self: center;
  z-index: 1;
}
#h2-404 {
  font-weight: bold;
}
.img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  z-index: 0;
  top: -175px;
}
#t-404 {
  position: relative;
  top: -320px;
}
@media screen and (max-width: 720px) {
  .h-404 {
    font-size: 20;
    position: relative;
    left: 210px;
  }
  #t-404 {
    left: 200px;
  }
}
