#aside {
  position: fixed;
  width: 55vh;
  overflow-y: auto;
  height: 90vh;
}

button {
  font-size: medium;
  width: 100%;
  border: none;
  background-color: white;
  color: black;
  padding: 10px 0px;
}
.moduleButton:hover {
  opacity: 0.96;
  background-color: #563d7c;
  color: white;
}
.active {
  background-color: #563d7c;
  color: white;
}

.sidebar_li {
  list-style: none;
  margin: 0;
  padding: 5px;
}

li.sidebar_li.a:hover {
  color: whitesmoke;
}

main {
  width: auto;
  margin-left: 60vh;
}
.contentarea {
  text-align: left;
  padding: 30px;
  width: 100%;
}
.submitBox {
  margin-left: 0;
  width: 100vh;
}
